{% extends "invoices/base.html.j2" %}
{% block supplier_css %}
header{grid-template-columns:70px 1fr 1fr}.summary{grid-template-columns:1fr 1fr 1.2fr 1fr}.line-id:before{content:"PKG ";color:#0891b2}
{% endblock %}
